<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="login-container">
    <h2>Login</h2>

    <!-- Formulário de Login -->
    <form th:action="@{/logar}" method="post">
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="Digite seu e-mail" required>
        </div>

        <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" name="senha" id="password" class="form-control" placeholder="Digite sua senha" required>
        </div>

        <button type="submit" class="btn btn-login">Entrar</button>
    </form>

    <!-- Exibe a mensagem de erro, se presente -->
    <div th:if="${erro != null}" class="alert alert-danger" role="alert">
        <p th:text="${erro}"></p>
    </div>

    <!-- Botão para redirecionar para a tela de cadastro -->
    <a href="/cadastroUsuario" class="btn btn-cadastro">Criar Conta</a>
</div>
</body>
</html>
