/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

/* Estilo do contêiner de login */
.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Título do formulário */
h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Estilo dos campos de entrada */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s;
}

input[type="email"]:focus, input[type="password"]:focus {
    border-color: #4CAF50;
}

/* Estilo do botão de login */
.btn {
    padding: 12px 25px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}

/* Botão para cadastro */
.btn-cadastro {
    display: inline-block;
    margin-top: 15px;
    font-size: 14px;
    color: white; /* Cor do texto branca */
    background-color: #007bff; /* Cor azul para o fundo */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none; /* Remove o sublinhado do link */
    transition: background-color 0.3s;
    text-align: center;
    width: 100%; /* Para o botão ocupar toda a largura da tela */
}

/* Efeito de hover no botão de cadastro */
.btn-cadastro:hover {
    background-color: #0056b3; /* Azul mais escuro quando passar o mouse */
}


/* Estilo para mensagens de erro */
.alert {
    margin-top: 20px;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

/* Responsividade */
@media (max-width: 600px) {
    .login-container {
        padding: 20px;
        width: 90%;
    }

    h2 {
        font-size: 20px;
    }

    .btn {
        font-size: 14px;
    }
}
