<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuário</title>
</head>
<body>

<h1>Registro de Usuário</h1>
<form th:action="@{/register/create}" method="post">
    <label for="username">Usuário:</label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" required><br><br>

    <label for="role">Papel:</label>
    <select id="role" name="role" required>
        <option value="ROLE_USER">Usuário</option>
        <option value="ROLE_ADMIN">Administrador</option>
    </select><br><br>

    <button type="submit">Registrar</button>
</form>

</body>
</html>
